* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // background-color: red;
}

button {
    cursor: pointer;
}

@media (max-width: 1080px) {
    html {
        font-size: 93.75%; // 15px
    }
}

@media (max-width: 729px) {
    html {
        font-size: 87.5%; // 14px
    }
}