
.bodyContainer{
    // background-color: red;
}

.cardContainer { 
    width: 30vw;
    height: 50vh;
    border: 1px solid #989399;

    .wineContainer {
        // background-color: blue;
     
    }

    .atributesContainer {
        // background-color: red;
        height: 15vh;
        // display: flex;
        font-family: Montserrat;
    }

    .wineImg {
        width: 5vw;
        height: 20vh;
        margin-top: 1vh;
        margin-left: 12vw;
    } 

    .revierContainer {
        margin-top: 1vh;
        // background-color: green;
        font-family: Montserrat;
        height: 13vh;
    }
}

@media screen and (min-device-width : 320px) and (max-device-width : 480px) {
    /* celulares */

    .wineImg{
        width: 10vw !important;
        margin-left: 35vw !important;
        // height: 70vh;
    }

    .cardContainer {
        width: 80vw;
        margin-left: 10vw !important;
    }


    }
