
.bodyContainer{
    // background-color: red;
}

.cardContainer { 
    // background-color: purple;
    width: 30vw;
    height: 50vh;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    border: 1px solid #989399;

    .wineContainer {
        // background-color: blue;
     
    }

    .atributesContainer {
        // background-color: red;
        height: 15vh;
        // margin-top: 5vh;
        display: flex;
        // align-items: center;
        font-family: Montserrat;
        // display: flex;
        // align-items: center;
    }

    .wineImg {
        width: 5vw;
        height: 20vh;
        margin-top: 1vh;
        margin-left: 12vw;
    } 

    .revierContainer {
        margin-top: 1vh;
        // background-color: green;
        font-family: Montserrat;
        height: 13vh;
    }
}