.bodyContainer {
    // max-width: 100vw;
    // display: flex;
    // background-color: powderblue;

    .wineContaienr {
        // width: 100vw;
        display: flex;
        // flex: 1 1 1 200px;
        // background-color: red;

        .testeContainer {
            display: flex;
            // align-items: center;
            justify-content:center;
            flex: 1 1 200px;
            flex-wrap: wrap;
        }
    }
}
@media screen and (min-device-width : 320px) and (max-device-width : 480px) {
    /* celulares */

  .testeContainer {
    display: block !important;
  }



    }